@import "./colors";

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: $blue;
  max-width: 100%;
  box-sizing: border-box; // Ensure padding is included in element's total width and height

  h2 {
    font-weight: normal;
    color: inherit;
    text-align: center;
    word-wrap: break-word; // Ensure text does not overflow
  }

  &Box {
    display: flex;
    align-items: center;
    background-color: $grey-smooth;
    color: $dark-smooth;
    gap: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 100%; // Ensure it doesn't exceed the width of the container
    box-sizing: border-box; // Ensure padding is included in element's total width and height
  }

  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; // Make the image circular
    object-fit: cover; // Ensure the image maintains its aspect ratio
  }

  &__span {
    padding: 1rem;
    word-wrap: break-word; // Ensure text does not overflow
  }

  @media (max-width: 600px) {
    & {
      padding: 0.5rem; // Adjust padding for smaller screens
    }

    &Box {
      flex-direction: column; // Stack elements vertically on smaller screens
      align-items: center;
      padding: 1rem; // Adjust padding for smaller screens
    }

    &__img {
      width: 3rem; // Adjust image size for smaller screens
      height: 3rem;
    }

    &__span {
      padding: 0.5rem; // Adjust padding for smaller screens
    }
  }
}
