@import "./colors";
.products {
  background-color: $blue;
  color: $white-smooth;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.2rem;

  padding: 0.6rem;
  cursor: pointer;

  &__basic {
    margin-top: 2rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: -0.5rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
